.App {
  text-align: center;
  background-color: rgb(60, 59, 59);
  color: #3db3ea;
}
button{
  border-radius: 15px;
  border: none;
  margin-right: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.entrar{
  padding: 35px;
  font-size: 2em;
}

main{
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-header {
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #3db3ea;
}
.dark-mode {
  
  filter: invert(1) hue-rotate(180deg);
  text-align: center;
  background-color: #011233;
  color: rgb(231, 228, 228);

}
.hidden {
  display: none;
}
img{
  height: 28px;
}
.header{
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0px 7px 22px 1px rgba(112, 110, 110, 0.51);
  -moz-box-shadow: 0px 7px 22px 1px rgba(113, 111, 111, 0.51);
  box-shadow: 0px 7px 22px 1px rgba(146, 146, 146, 0.51);
}
.botons{
  width: 100px;
  display: flex;
}
.presentacion{
    background: linear-gradient(blue, pink);
  }
.entrar:hover{
  cursor: pointer;
}
footer{
  height: 7vh;
  font-size: 1.5rem ;
  background-color: forestgreen;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (prefers-color-scheme: dark) {
  .App {
    background-color: rgb(60, 59, 59);
    color: #3db3ea;
    
    text-align: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

